* {
    box-sizing: border-box;
}

.logo-container {
    position: absolute;
    left:30px;
    top: -46px;

}

.logo-container .logo-img {
    width: 130px;
    height: auto;
}


body {
    min-height: 100vh;
    margin: 0;
    background-image: linear-gradient(#B22222 0%, #4C0F0F 70%);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: #D9D9D9;
    padding-top: 90px;
}

nav {
    background: #B22222;
    border-bottom: 2px solid #ffff;
    border-top: 2px solid #ffff;
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.boutons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.boutons a{
    text-decoration: none;
    color: #ffff;
}

.boutons a:hover{
    color: #FFD700;
}

.btnGestion a{
    text-decoration: none;
    color: #ffffff;
}

body h1 {
    display: flex;
    margin-left: 50px;
    margin-top: 80px;
    justify-content: center;
    margin-bottom: 80px;
}

.btnGestion {
    display: flex;
    justify-content: right;
    gap: 10px;
    margin-right: 30px;
    margin-top: 15px;
}

.film-container img{     /* listFilms */
    width: 100%;
    aspect-ratio: 170/241;
    border-radius: 20px;
}

.film-container {     /* listFilms */
    width:100%;
    padding: 0 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 150px);
    grid-template-rows: auto;
    grid-column-gap: 50px;
    grid-row-gap: 40px;
    justify-content: center;
}

.film-container .film {     /* listFilms */
    width: 100%;
    transition: all 220ms ease-out;
}

.film:hover{     /* listFilms */
    transform: scale(1.05);
}

.titre {      /* listFilms */
    display: block;
    text-align: center;
}

.note {      /* listFilms */
    display: flex;
    justify-content: center;
}

.acteur-container {    /* acteur */
    background-color: #D9D9D9;
    border-radius: 35px;
    height: 65px;
    margin: 20px;
    color: black;
}

.acteur-container .acteur-img { /* acteur */
    height: 65px;
    width: 45px;
    margin-left: 62px;
}

.acteur-container .acteur{    /* acteur */
    display: inline-grid;
    position: absolute;
    margin-left: 30px;
    margin-top: 5px;
}

.acteur-container .acteur-nom{ /* acteur */
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.realisateur-container {     /* realisateur */ 
    background-color: #D9D9D9;
    border-radius: 35px;
    height: 65px;
    margin: 20px;
    color: black;
}

.realisateur-container .realisateur-img { /* realisateur */ 
    height: 65px;
    width: 45px;
    margin-left: 62px;
}

.realisateur-container .realisateur{    /* realisateur*/
    display: inline-grid;
    position: absolute;
    margin-left: 30px;
    margin-top: 13px;
    gap: 5px;
}

.realisateur-container .realisateur-nom{  /* realisateur*/
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.container-list-genre {        /* genres */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}

.list-genre { /* genres */
        text-align: center; 
}


.list-genre a{       /* genres */
    text-decoration: none;
    color: white;
}

.list-genre a:hover{      /* genres */
    color: #FFD700;
}

.container-role {    /* roles */
    display: grid;
    justify-content: center;
    gap: 10px;
}

.role a {    /* roles */
    text-decoration: none;
    color: white;
}

.role a:hover{    /* roles */
    color: #FFD700;
}

.container-details-film {  /* details film */
    width: 350px;
    height: 520px;
    margin-top: 50px;
}

.container-details-film .details-film-img{ /* details film */
    width: 100%;
    height: 100%;
    border-radius: 20px;
 
}

.container-all {  /* details film */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    column-gap: 50px;
}

.container-infos-film {  /* details film */
    margin-top: 40px;
    height: 500px;
    width: 500px;
    text-align: justify;
}

.dfNom {  /* details film */
    margin-top: 25px;
}

.detAct-img { /* details acteur*/
    height: 500px;
    border-radius: 20px;
}

.img-note {
    height: 250px;
    width: 170px;
}

.detAct-img2 { /* details acteur*/
    height: 250px;
    width: 170px;
    border-radius: 20px;
}

.container-detAct { /* details acteur*/
    display: flex;
    margin-left: 50px;
    margin-top: 50px;
}

.bio-detAct { /* details acteur*/
    margin-left: 50px;
}

.bloc-detAct {
    width: 170px;
    text-align: center;
}

.filmo-detAct { /* details acteur*/
    display: flex;
    gap: 45px;
    flex-wrap: wrap;
}

.detRea-img {  /* details realisateur */
    height: 500px;
    border-radius: 20px;
}

.detRea-img2 { /* details realisateur */
    height: 250px;
    border-radius: 20px;
}

.container-detRea { /* details realisateur */
    display: flex;
    margin-left: 50px;
    margin-top: 50px;
}

.bio-detRea { /* details realisateur */
    margin-left: 50px;
}

.filmo-detRea { /* details realisateur */
    display: flex;
    gap: 45px;
    flex-wrap: wrap;
}

.addGenre {  /* addGenre */
    display: flex;
    justify-content: center;
}

.addActeur { /* addGenre */
    display: flex;
    justify-content: center;
}

.genre-container { /* details genre*/
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.genre { /* details genre*/
    padding: 10px; 
    text-align: center; 
}

.genre-titre { /* details genre*/
    display: flex;
    justify-content: center;
}

.container-role { /* list roles */
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.role { /* list roles */
    padding: 10px; 
    text-align: center; 
}

.container-detRole { /* details role */
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.detRole { /* details role */
    text-align: center;
    margin-bottom: 20px;
}

.nav-toggle,
.nav-close {
    display: none;
    font-size: 1.5rem;
    color: #ffff;
    cursor: pointer;
}

.nav-toggle {
    position: absolute;
    right: 1.5rem;
    top: 20%;
}

.nav-close {
    position: absolute;
    top: 1rem;
    right: 3.5rem;
}

.ri-star-fill {
    color: yellow;
}

.img-note {
    position: relative;
}

.note-star {
    display: flex;
    justify-content: center;
    position: absolute;
    right: 10px;
    bottom: 10px;
}


@media screen and (max-width: 900px) {

    nav {
        background: #B22222;
        border-bottom: 2px solid #ffff;
        border-top: 2px solid #ffff;
        position: fixed;
        top: 50px;
        left: 0;
        right: 0;
        z-index: 1000;
        display: flex;
        justify-content: center;
        padding: 20px;
    }

    .boutons {
        position: fixed;
        top: -120%;
        background-color: #B22222;
        display: grid;
        align-items: center;
        text-align: center;
        border-radius: 20px;
        height: 40%;
        width: 100%;
        transition: top 0.4s;
    }


    .show-boutons {
        transition: top 0.4s;
        top: 0;
    }
    
    .nav-toggle,
    .nav-close {
        display: flex;
    }

    .nav-close {
        position: absolute;
        top: -100%;
        right: 1.5rem;
    }


    .container-detRea {
    display: flex;
    flex-wrap: wrap;
    margin-left: 50px;
    margin-top: 50px;
    }

    .bio-detRea {
        margin-left: 0;
    }
}